<div class="file-container__link-wrapper">
  <div class="file-container__checkbox-section">
    {{simple-checkbox
      checkboxId="selectall-checkbox"
      onClick=(action "onSelectAllClick")
      isChecked=isSelectedAllCheckboxChecked
      isIndeterminate=isIndeterminate
      labelText=(t "selectAllLabel")
      labelClassNames="is-sr-only"
    }}
  </div>
  <div role="alert" class="file-container__selected-count">
    {{fileCountText}}
  </div>
  <div class="file-container__download-section">
    {{t "downloadSelected"}}
  </div>
</div>
{{file-table 
  fileList=fileList
  noOfAvailableFiles=noOfAvailableFiles
  noOfFilesSelected=noOfFilesSelected
  isSelectedAllCheckboxChecked=isSelectedAllCheckboxChecked
  onRowClick=(action "onRowClick")
  selectedFileArr=selectedFileArr
}}