$base-font: 14px;
$header-font: 18px;
$title-font-size: 36px;

$max-width: 1024px;
$page-grey: #F1F1F1;
$background-blue: #0B4C92;
$white: #FFFFFF;
$default-font-color: #4A4A4A;
$error-red: #FF0000;
$grey-border: #DFDFDF;
$selected-background-color: #EEEEEE;
$hover-background-color: #F5F5F5;
$green: #7FD233;
$bottom-box-shadow: rgb(223, 223, 223, 0.8);