.file-table {
  color: $default-font-color;
  border: 1px solid $grey-border;
  background-color: $white;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 4px $bottom-box-shadow;
  border-radius: 0 0 4px 4px;

  &__selector-header,
  &__name-header,
  &__device-header,
  &__path-header,
  &__status-header {
    padding: 10px;
    font-size: $header-font;
    text-align: left;
    border-bottom: 1px solid $grey-border;
  }
}