.table-row {
  &:hover {
    background-color: $hover-background-color;
  }
  &__selector-cell,
  &__name-cell,
  &__device-cell,
  &__path-cell,
  &__status-cell {
    padding: 10px;
    font-size: $base-font;
    text-align: left;
    text-overflow: ellipsis;
    border-bottom: 1px solid $grey-border;
  }

  &__selector-cell {
    width: 5%;
  }

  &__name-cell,
  &__device-cell {
    width: 20%;
  }

  &__path-cell {
    width: 45%;
    padding-right: 30px;
  }

  &__status-cell {
    width: 10%;
    text-transform: capitalize;
    &.available:before {
      background-color: $green;
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
      content: '';
      position: absolute;
      margin-left: -20px;
      margin-right: 5px;
      vertical-align: bottom;
    }
  }
}